@{
}

<h1>Tabella dipendenti</h1>

<table class="table">
    <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Address</th>
        <th scope="col">Fiscal Code</th>
        <th scope="col">Conjugality</th>
        <th scope="col">Children</th>
        <th scope="col">Role</th>
    </tr>
    @foreach(var employee in StaticDb._employee)
    {
        <tr>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.Address</td>
            <td>@employee.FiscalCode</td>
            <td>@employee.Conjugality</td>
            <td>@employee.Children</td>
            <td>@employee.Role</td>
        </tr>
    }
    
</table>
